.background {
  viewport-fill: black;
}

#dateLabel {
  font-size: 30;
  font-family: Colfax-Medium;
  text-length: 50;
  text-anchor: left;
  x: 20;
  y: 40;
  fill: white;
}

#clockLabel {
  font-size: 80;
  font-family: Colfax-Medium;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%;
  fill: white;
}
#hrLabel {
  font-size: 20;
  font-family: Colfax-light;
  text-anchor: middle;
  text-length: 32;
  fill: white;
}
