.background {
  viewport-fill: black;
}

#clickbg {
  width: 100%;
  height: 100%;
  fill: black;
  opacity: 0
}

/* Clock View Labels */
#dateLabel {
  font-size: 30;
  font-family: Colfax-Medium;
  text-length: 50;
  text-anchor: start;
  x: 20;
  y: 22;
  fill: white;
}

#clockLabel {
  font-size: 80;
  font-family: Colfax-Medium;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 41%;
  fill: white;
}

#hrLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: middle;
  text-length: 32;
  x: 50%;
  y: 53%;
  fill: white;
}

#stepsLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: middle;
  text-length: 32;
  x: 50%;
  y: 65%;
  fill: white;
}

/* Stats View Labels */
#stepStatsLabel {
  font-size: 30;
  font-family: Colfax-Bold;
  text-anchor: start;
  text-length: 32;
  x: 10;
  y: 10%;
  fill: white;
}

#distStatsLabel {
  font-size: 30;
  font-family: Colfax-Bold;
  text-anchor: start;
  text-length: 32;
  x: 10;
  y: 30%;
  fill: white;
}

#floorsStatsLabel {
  font-size: 30;
  font-family: Colfax-Bold;
  text-anchor: start;
  text-length: 32;
  x: 10;
  y: 50%;
  fill: white;
}

#activeStatsLabel {
  font-size: 30;
  font-family: Colfax-Bold;
  text-anchor: start;
  text-length: 32;
  x: 10;
  y: 70%;
  fill: white;
}

#calsStatsLabel {
  font-size: 30;
  font-family: Colfax-Bold;
  text-anchor: start;
  text-length: 32;
  x: 10;
  y: 90%;
  fill: white;
}

#periodLabel {
  font-size: 30;
  font-family: Colfax-Bold;
  text-length: 50;
  text-anchor: start;
  x: 30;
  y: 82%;
  fill: silver;
}

#timeRemainingLabel {
  font-size: 30;
  font-family: Colfax-Regular;
  text-length: 50;
  text-anchor: start;
  x: 30;
  y: 94%;
  fill: silver;
}

#period1StartLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: start;
  text-length: 32;
  x: 10%;
  y: 5%;
  fill: white;
}

#period1NameLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: middle;
  text-length: 32;
  x: 10%;
  y: 50%;
  fill: white;
}

#period1EndLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: end;
  text-length: 32;
  x: 10%;
  y: 95%;
  fill: white;
}

#period2StartLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: start;
  text-length: 32;
  x: 20%;
  y: 5%;
  fill: white;
}

#period2NameLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: middle;
  text-length: 32;
  x: 20%;
  y: 50%;
  fill: white;
}

#period2EndLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: end;
  text-length: 32;
  x: 20%;
  y: 95%;
  fill: white;
}

#period3StartLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: start;
  text-length: 32;
  x: 30%;
  y: 5%;
  fill: white;
}

#period3NameLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: middle;
  text-length: 32;
  x: 30%;
  y: 50%;
  fill: white;
}

#period3EndLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: end;
  text-length: 32;
  x: 30%;
  y: 95%;
  fill: white;
}

#period4StartLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: start;
  text-length: 32;
  x: 40%;
  y: 5%;
  fill: white;
}

#period4NameLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: middle;
  text-length: 32;
  x: 40%;
  y: 50%;
  fill: white;
}

#period4EndLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: end;
  text-length: 32;
  x: 40%;
  y: 95%;
  fill: white;
}

#period51StartLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: start;
  text-length: 32;
  x: 50%;
  y: 5%;
  fill: white;
}

#period51NameLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: middle;
  text-length: 32;
  x: 50%;
  y: 50%;
  fill: white;
}

#period51EndLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: end;
  text-length: 32;
  x: 50%;
  y: 95%;
  fill: white;
}

#period52StartLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: start;
  text-length: 32;
  x: 60%;
  y: 5%;
  fill: white;
}

#period52NameLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: middle;
  text-length: 32;
  x: 60%;
  y: 50%;
  fill: white;
}

#period52EndLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: end;
  text-length: 32;
  x: 60%;
  y: 95%;
  fill: white;
}

#period53StartLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: start;
  text-length: 32;
  x: 70%;
  y: 5%;
  fill: white;
}

#period53NameLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: middle;
  text-length: 32;
  x: 70%;
  y: 50%;
  fill: white;
}

#period53EndLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: end;
  text-length: 32;
  x: 70%;
  y: 95%;
  fill: white;
}

#period6StartLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: start;
  text-length: 32;
  x: 80%;
  y: 5%;
  fill: white;
}

#period6NameLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: middle;
  text-length: 32;
  x: 80%;
  y: 50%;
  fill: white;
}

#period6EndLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: end;
  text-length: 32;
  x: 80%;
  y: 95%;
  fill: white;
}

#period7StartLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: start;
  text-length: 32;
  x: 90%;
  y: 5%;
  fill: white;
}

#period7NameLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: middle;
  text-length: 32;
  x: 90%;
  y: 50%;
  fill: white;
}

#period7EndLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: end;
  text-length: 32;
  x: 90%;
  y: 95%;
  fill: white;
}

#period8StartLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: start;
  text-length: 32;
  x: 100%;
  y: 5%;
  fill: white;
}

#period8NameLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: middle;
  text-length: 32;
  x: 100%;
  y: 50%;
  fill: white;
}

#period8EndLabel {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: end;
  text-length: 32;
  x: 100%;
  y: 95%;
  fill: white;
}